# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.BluePokemonDialog.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../:\Users\U004428\Documents\Projetos\Local\expert-mode\desafios\fase01\BluePokemonDialog\.idea\.idea.BluePokemonDialog.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
